.container {
    margin: 0 100px;
    height: 100%;
}

header {
    height: 100px;
    background: aliceblue;
}

.height-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    align-items: center;
    height: 100%;
}

li {
    list-style:none;
}

ul {
    display: flex;
    flex-direction: column;
}

li > a {
    color: darkred;
}

.height-block div {
    width: 33%;
}

.user-form {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100% !important;
}

.banner-block {
    height: 140px;
    padding: 40px;
    display: flex;
    flex-display: row;;
}

.banner-left {
    width: 49%;
}

.banner-home {
    width: 70%;
}

.banner-right {
    width: 49%;
    padding: 0 60px;
}

.banner-right img {
    height: 150px;
    width: 100%;
    background-color: moccasin;
}

.nonauth {
    justify-content: space-around;
    background-color: moccasin;
}